Source: catoshi
Section: utils
Priority: optional
Maintainer: Bloq Debian Packaging Team <debian@bloq.com>
Uploaders:
 Troy Benjegerdes <troy@bloq.com>,
Build-Depends:
 autotools-dev,
 bash-completion,
 debhelper,
 dh-autoreconf,
 dh-exec,
 help2man,
 libboost-chrono-dev,
 libboost-filesystem-dev,
 libboost-program-options-dev,
 libboost-system-dev,
 libboost-test-dev,
 libboost-thread-dev,
 libdb5.3++-dev,
 libleveldb-dev (>=1.18),
 libevent-dev,
 libsecp256k1-dev,
 libssl-dev,
 libunivalue-dev,
 libzmq3-dev,
 pkg-config,
 python,
Standards-Version: 4.0.0
Homepage: http://bitbucket.org/tmagik/catoshi
Vcs-Git: https://bitbucket.org/tmagik/catoshi
Vcs-Browser: https://bitbucket.org/tmagik/catoshi

Package: catoshi-bitcoind
Provides: bitcoind, bitcoind-bitcore
Replaces: bitcoind
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: peer-to-peer network based digital currency - daemon
 Bitcoin is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 Unless pruning is enabled, full global transaction history is stored
 locally at each client, which may require large amounts of disk space.
 .
 This package provides the daemon, bitcoind, and the CLI tool,
 bitcoin-cli, to interact with the daemon.
 .
 This package includes the Bitcore indexing patches needed by the 
 Bitcore-node wrapper for the Bitcore Insight API

Package: catoshi-bitcoin-tx
Provides: bitcoin-tx
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: peer-to-peer network based digital currency - transaction tool
 Bitcoin is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 Unless pruning is enabled, full global transaction history is stored
 locally at each client, which may require large amounts of disk space.
 .
 This package provides bitcoin-tx, a command line tool for creating,
 parsing, or modifying transactions.
